.contacts {
  padding-bottom: 90px;

  &__container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
  }

  &__wrap {
    padding: 0 35px 0 52px;
    display: grid;
    grid-template-columns: 400px 585px;
    justify-content: space-between;
  }

  &__photo {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__descr {
    padding-top: 6px;
  }

  &__title {
    @include h5;
    padding-left: 10px;
    margin-bottom: 6px;
  }

  &__subtitle {
    position: relative;
    @include h3;
    text-align: left;
    margin-bottom: 24px;
    &::before {
      position: absolute;
      bottom: -3px;
      left: 0;
      content: '';
      width: 60px;
      height: 3px;
      background: $main-color;
    }
  }

  &__text {
    @include addition-title;
  }

  &__social {
    display: flex;
    justify-content: space-between;
    max-width: 140px;
    padding: 20px 0;
  }

  &__form {
    margin-top: 30px;
    display: grid;
    grid-template: 45px 190px 45px / repeat(2, 280px);
    justify-content: space-between;
    row-gap: 27px;
    label {
      display: block;
      position: absolute;
      top: -9px;
      left: 12px;
      height: 18px;
      padding: 0 8px;
      background-color: #fff;
      font-size: 12px;
      margin-bottom: 0;
    }
  }
  &__triggers {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 35px;
  }
  &__policy {
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    input {
      margin-right: 10px;
    }
  }
  &__input {
    position: relative;
    input {
      width: 100%;
      height: 100%;
      padding: 0 20px;
      font-size: 12px;
    }
  }

  &__input.error input {
    border-color: red;
  }

  &__input small {
    color: red;
  }

  &__textarea {
    position: relative;
    grid-column: 1 / 3;
    textarea {
      width: 100%;
      height: 100%;
      resize: none;
      padding: 20px;
      font-size: 12px;
    }
  }

  &__policy {
    display: none;
    position: relative;
    grid-column: 1 / 3;

    &-blue {
      display: contents;
      color: $blue;
    }
  }

  &__custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__custom-checkbox + label {
    @include text;
    line-height: normal;
    position: initial;
    display: inline-flex;
    align-items: center;
    user-select: none;
    padding: 0 20%;

    &::before {
      content: '';
      display: inline-block;
      width: 11px;
      height: 11px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid $black;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
  }

  &__custom-checkbox:checked + label {
    &::before {
      border-color: $blue;
      background-color: $blue;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
  }

  &__btn {
    @include button;
  }
}
