@import './variables';

@mixin h5 {
  position: relative;
  color: $black;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  z-index: 10;

  &::before {
    position: absolute;
    top: -5px;
    left: 0px;
    content: '';
    width: 36px;
    height: 36px;
    background: $main-color;
    border-radius: 36px;
    z-index: -2;
  }
}

@mixin h4 {
  color: $black;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

@mixin h3 {
  color: $black;
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
}

@mixin h2 {
  color: $black;
  font-size: 48px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 60px;
}

@mixin title {
  color: $black;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

@mixin addition-title {
  color: $black;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

@mixin text {
  color: $black;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

@mixin button {
  color: #000;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  background: $main-color;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
}
