@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
* ul {
  list-style-type: none;
}

.promo {
  min-height: 100vh;
  background: url("../img/Background.jpg") no-repeat 50%/cover;
}
.promo__container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 206px;
  display: flex;
  flex-direction: column;
}
.promo__title {
  position: relative;
  color: #000;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  z-index: 10;
  padding-left: 10px;
  margin-bottom: 9px;
}
.promo__title::before {
  position: absolute;
  top: -5px;
  left: 0px;
  content: "";
  width: 36px;
  height: 36px;
  background: #ffa501;
  border-radius: 36px;
  z-index: -2;
}
.promo__profession {
  max-width: 532px;
  color: #000;
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 33px;
}
.promo__btn {
  color: #000;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  background: #ffa501;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  padding: 12px 27px;
  margin-right: 40px;
}
.promo__link {
  color: #000;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.benefit {
  padding-top: 120px;
  padding-bottom: 126px;
}
.benefit__container {
  max-width: 1140px;
  margin: 0 auto;
}
.benefit__title {
  position: relative;
  color: #000;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  z-index: 10;
  text-align: center;
  margin-bottom: 6px;
}
.benefit__title::before {
  position: absolute;
  top: -5px;
  left: 0px;
  content: "";
  width: 36px;
  height: 36px;
  background: #ffa501;
  border-radius: 36px;
  z-index: -2;
}
.benefit__title::before {
  left: 50%;
  transform: translateX(-50%);
}
.benefit__subtitle {
  position: relative;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  margin-bottom: 85px;
}
.benefit__subtitle::before {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 60px;
  height: 3px;
  background: #ffa501;
}
.benefit__wrap {
  display: flex;
  justify-content: space-around;
}
.benefit__column {
  max-width: 375px;
  padding-left: 18px;
}
.benefit__column li {
  position: relative;
}
.benefit__column li:after {
  content: "";
  width: 1px;
  height: 104%;
  position: absolute;
  top: -6px;
  left: -43px;
  background-color: #000;
}
.benefit__column-title {
  color: #000;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  position: relative;
}
.benefit__column-title:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #ffa501;
  border-radius: 100%;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
}
.benefit__item {
  position: relative;
}
.benefit__item::before {
  content: "";
  height: 1px;
  width: 42px;
  position: absolute;
  top: 62px;
  left: -42px;
  background-color: #000;
}
.benefit__item-main {
  position: relative;
  padding: 45px 0 0 56px;
}
.benefit__item-icon {
  position: absolute;
  top: 50px;
  left: 45px;
}
.benefit__item-icon:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -6px;
  left: -45px;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #ffa501;
}
.benefit__item-icon img {
  position: absolute;
  top: 8px;
  left: -28px;
}
.benefit__item-education {
  color: #000;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.benefit__item-location {
  color: #000;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.benefit__item-descr {
  color: #000;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-top: 12px;
}

.contacts {
  padding-bottom: 90px;
}
.contacts__container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}
.contacts__wrap {
  padding: 0 35px 0 52px;
  display: grid;
  grid-template-columns: 400px 585px;
  justify-content: space-between;
}
.contacts__descr {
  padding-top: 6px;
}
.contacts__title {
  position: relative;
  color: #000;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  z-index: 10;
  padding-left: 10px;
  margin-bottom: 6px;
}
.contacts__title::before {
  position: absolute;
  top: -5px;
  left: 0px;
  content: "";
  width: 36px;
  height: 36px;
  background: #ffa501;
  border-radius: 36px;
  z-index: -2;
}
.contacts__subtitle {
  position: relative;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
  margin-bottom: 24px;
}
.contacts__subtitle::before {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  width: 60px;
  height: 3px;
  background: #ffa501;
}
.contacts__text {
  color: #000;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.contacts__social {
  display: flex;
  justify-content: space-between;
  max-width: 140px;
  padding: 20px 0;
}
.contacts__form {
  margin-top: 30px;
  display: grid;
  grid-template: 45px 190px 45px/repeat(2, 280px);
  justify-content: space-between;
  row-gap: 27px;
}
.contacts__form label {
  display: block;
  position: absolute;
  top: -9px;
  left: 12px;
  height: 18px;
  padding: 0 8px;
  background-color: #fff;
  font-size: 12px;
  margin-bottom: 0;
}
.contacts__triggers {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(2, auto);
  -moz-column-gap: 35px;
       column-gap: 35px;
}
.contacts__policy {
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
}
.contacts__policy input {
  margin-right: 10px;
}
.contacts__input {
  position: relative;
}
.contacts__input input {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  font-size: 12px;
}
.contacts__input.error input {
  border-color: red;
}
.contacts__input.success input {
  border-color: green;
}
.contacts__input small {
  color: red;
}
.contacts__textarea {
  position: relative;
  grid-column: 1/3;
}
.contacts__textarea textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 20px;
  font-size: 12px;
}
.contacts__btn {
  border: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}/*# sourceMappingURL=style.css.map */