@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #000;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: #000;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
* ul {
  list-style-type: none;
}

.promo {
  position: relative;
  min-height: 100vh;
  background: url("../img/Background.jpg") no-repeat 50%/cover;
}
.promo__container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 206px;
  display: flex;
  flex-direction: column;
}
.promo__title {
  position: relative;
  color: #000;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  z-index: 5;
  padding-left: 10px;
  margin-bottom: 9px;
}
.promo__title::before {
  position: absolute;
  top: -5px;
  left: 0px;
  content: "";
  width: 36px;
  height: 36px;
  background: #ffa501;
  border-radius: 36px;
  z-index: -2;
}
.promo__profession {
  max-width: 532px;
  color: #000;
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 33px;
}
.promo__btn {
  color: #000;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  background: #ffa501;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  padding: 12px 27px;
  margin-right: 40px;
}
.promo__link {
  color: #000;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.benefit {
  padding-top: 120px;
  padding-bottom: 126px;
}
.benefit__container {
  max-width: 1140px;
  margin: 0 auto;
}
.benefit__title {
  position: relative;
  color: #000;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  z-index: 5;
  text-align: center;
  margin-bottom: 6px;
}
.benefit__title::before {
  position: absolute;
  top: -5px;
  left: 0px;
  content: "";
  width: 36px;
  height: 36px;
  background: #ffa501;
  border-radius: 36px;
  z-index: -2;
}
.benefit__title::before {
  left: 50%;
  transform: translateX(-50%);
}
.benefit__subtitle {
  position: relative;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  margin-bottom: 85px;
}
.benefit__subtitle::before {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 60px;
  height: 3px;
  background: #ffa501;
}
.benefit__wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 94px 0 75px;
}
.benefit__column {
  max-width: 410px;
}
.benefit__column li {
  position: relative;
}
.benefit__column li:after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: -6px;
  left: -3px;
  background-color: #000;
}
.benefit__column-title {
  color: #000;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  position: relative;
  padding-left: 40px;
}
.benefit__column-title:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #ffa501;
  border-radius: 100%;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
}
.benefit__item {
  position: relative;
}
.benefit__item::before {
  content: "";
  height: 1px;
  width: 42px;
  position: absolute;
  top: 63px;
  left: -2px;
  background-color: #000;
}
.benefit__item-main {
  position: relative;
  padding: 48px 0 0 100px;
}
.benefit__item-icon {
  position: absolute;
  top: 50px;
  left: 45px;
}
.benefit__item-icon:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -6px;
  left: -5px;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #ffa501;
}
.benefit__item-icon img {
  position: absolute;
  top: 9px;
  left: 12px;
}
.benefit__item-education {
  color: #000;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.benefit__item-location {
  color: #000;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.benefit__item-descr {
  color: #000;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding-left: 40px;
  margin-top: 12px;
}

.contacts {
  padding-bottom: 90px;
}
.contacts__container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}
.contacts__wrap {
  padding: 0 35px 0 52px;
  display: grid;
  grid-template-columns: 400px 585px;
  justify-content: space-between;
}
.contacts__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contacts__descr {
  padding-top: 6px;
}
.contacts__title {
  position: relative;
  color: #000;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  z-index: 5;
  padding-left: 10px;
  margin-bottom: 6px;
}
.contacts__title::before {
  position: absolute;
  top: -5px;
  left: 0px;
  content: "";
  width: 36px;
  height: 36px;
  background: #ffa501;
  border-radius: 36px;
  z-index: -2;
}
.contacts__subtitle {
  position: relative;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
  margin-bottom: 24px;
}
.contacts__subtitle::before {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  width: 60px;
  height: 3px;
  background: #ffa501;
}
.contacts__text {
  color: #000;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.contacts__social {
  display: flex;
  justify-content: space-between;
  max-width: 140px;
  padding: 20px 0;
}
.contacts__form {
  margin-top: 30px;
  display: grid;
  grid-template: 45px 190px 45px/repeat(2, 280px);
  justify-content: space-between;
  row-gap: 27px;
}
.contacts__form label {
  display: block;
  position: absolute;
  top: -9px;
  left: 12px;
  height: 18px;
  padding: 0 8px;
  background-color: #fff;
  font-size: 12px;
  margin-bottom: 0;
}
.contacts__triggers {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(2, auto);
  -moz-column-gap: 35px;
       column-gap: 35px;
}
.contacts__policy {
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
}
.contacts__policy input {
  margin-right: 10px;
}
.contacts__input {
  position: relative;
}
.contacts__input input {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  font-size: 12px;
}
.contacts__input.error input {
  border-color: red;
}
.contacts__input small {
  color: red;
}
.contacts__textarea {
  position: relative;
  grid-column: 1/3;
}
.contacts__textarea textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 20px;
  font-size: 12px;
}
.contacts__policy {
  display: none;
  position: relative;
  grid-column: 1/3;
}
.contacts__policy-blue {
  display: contents;
  color: #2306d6;
}
.contacts__custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.contacts__custom-checkbox + label {
  color: #000;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: normal;
  position: initial;
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 0 20%;
}
.contacts__custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #000;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.contacts__custom-checkbox:checked + label::before {
  border-color: #2306d6;
  background-color: #2306d6;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.contacts__btn {
  color: #000;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  background: #ffa501;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
}

.social {
  position: fixed;
  top: 225px;
  left: 42px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 340px;
  z-index: 10;
}
.social__line {
  width: 2px;
  height: 70px;
  background-color: #000;
}
.social__text {
  height: 150px;
  width: 25px;
}
.social__text span {
  transform: rotate(270deg) translate(-55px, -62px);
  color: #000;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  display: block;
  width: 150px;
}

.hamburger {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
}
.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background: #000;
}
.hamburger span.midline {
  width: 36px;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in;
}
.menu.active {
  left: 0;
  visibility: visible;
  opacity: 1;
}
.menu__wrap {
  position: relative;
  width: 345px;
  height: 100%;
  padding-top: 140px;
  padding-left: 40px;
  background-color: #ffa501;
  z-index: 10;
  transition: all 0.5s ease-in;
}
.menu__close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.menu__list {
  padding-left: 35px;
}
.menu__list-link {
  position: relative;
  color: #fff;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}
.menu__list-link:before {
  content: "";
  position: absolute;
  left: -35px;
  top: 10px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 1px solid #000000;
  transition: all 0.6s;
}
.menu__list-link a {
  color: #fff;
}
.menu__social {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__social img {
  transform: rotate(90deg);
}
.menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.75;
}

@media (max-width: 1350px) {
  .social {
    display: none;
  }
}
@media (max-width: 1200px) {
  .promo__container {
    max-width: 960px;
  }
  .benefit__container {
    max-width: 960px;
  }
  .contacts__container {
    max-width: 960px;
  }
  .contacts__wrap {
    padding: 0;
    grid-template-columns: 400px 520px;
  }
  .contacts__form {
    grid-template: 45px 190px 45px/repeat(2, 250px);
  }
}
@media (max-width: 992px) {
  .promo__container {
    max-width: 720px;
  }
  .benefit__container {
    max-width: 720px;
  }
  .contacts__container {
    max-width: 720px;
  }
  .contacts__wrap {
    grid-template-columns: 300px 400px;
  }
  .contacts__form {
    grid-template: 45px 190px 45px/repeat(2, 195px);
  }
  .contacts__btn {
    padding: 12px 26px;
    line-height: 16px;
  }
}
@media (max-width: 768px) {
  .promo__container {
    max-width: 500px;
  }
  .promo__title {
    line-height: 39px;
    width: 300px;
  }
  .promo__profession {
    font-size: 28px;
    line-height: 35px;
  }
  .benefit__container {
    max-width: 500px;
  }
  .benefit__wrap {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px 0 10px;
  }
  .contacts {
    padding-top: 40px;
  }
  .contacts__container {
    max-width: 500px;
  }
  .contacts__photo {
    display: none;
  }
  .contacts__wrap {
    grid-template-columns: 1fr;
  }
  .contacts__form {
    grid-template: 45px 190px 45px/repeat(2, 230px);
  }
  .contacts__triggers {
    grid-template-columns: repeat(1, 220px);
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .hamburger {
    right: 20px;
    z-index: 10;
  }
  .menu__wrap {
    width: 250px;
    padding-left: 20px;
  }
  .promo__container {
    width: 100%;
    padding: 200px 10px 0 10px;
  }
  .promo__title {
    margin-bottom: 2px;
  }
  .promo__profession {
    margin-bottom: 7px;
  }
  .promo__btn {
    margin-top: 30px;
  }
  .benefit__container {
    width: 100%;
    padding: 0 10px;
  }
  .benefit__title {
    margin-bottom: 15px;
  }
  .benefit__subtitle {
    font-size: 24px;
    margin-bottom: 0;
  }
  .benefit__subtitle::before {
    bottom: 0;
  }
  .benefit__column {
    margin-top: 40px;
  }
  .benefit__item-main {
    padding: 47px 0 0 95px;
  }
  .benefit__item-descr {
    margin-top: 4px;
  }
  .benefit ul li:last-child .benefit__item::before {
    top: 32px;
  }
  .benefit ul li:last-child .benefit__item-main {
    padding-top: 14px;
  }
  .benefit ul li:last-child .benefit__item-descr {
    margin-top: 23px;
  }
  .benefit ul li:last-child .benefit__item-icon:before {
    top: -35px;
  }
  .benefit ul li:last-child .benefit__item-icon img {
    top: -20px;
  }
  .contacts {
    padding-bottom: 50px;
  }
  .contacts__container {
    width: 100%;
    padding: 0 10px;
  }
  .contacts__subtitle {
    font-size: 24px;
  }
  .contacts__form {
    grid-template: 45px 45px 190px minmax(45px, auto)/1fr;
  }
  .contacts__textarea {
    grid-column: unset;
    width: 100%;
  }
  .contacts__triggers {
    grid-column: unset;
    grid-template-columns: 1fr;
    -moz-column-gap: unset;
         column-gap: unset;
    row-gap: 20px;
  }
  .contacts__btn {
    order: 2;
    max-width: 220px;
    margin: 0 auto;
  }
  .contacts__policy {
    display: grid;
    justify-content: center;
    grid-column: unset;
  }
}/*# sourceMappingURL=style.css.map */